body{
    background-color: #191e20;
}

.container{
    width: 750px;
    margin: auto;
}

.clearfix{
    clear: both;
}

/*Start Header*/

    .header .slide{
        background-image: url(../images/media_15c20d46f1509c8279f65504cec2a24d94a2eace2.png);
        background-size: cover;
        background-size: fixed;
        width: 100%;
        height: 800px;
        display:flex;
    }

    .header .slide .intro{
        padding-top: 400px;
        text-align: center;
        color: #fff;
    }

    .header .slide .intro h2{
        margin: 0px auto;
        font-size: 50px;
        width: 600px;
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
        padding: 5px 0;
        text-transform: uppercase;
    }

    /*Start Navbar*/
    .header .navbar{
        background-color: #252F31;
        color: #fff;
        overflow: hidden;
    }

    .header .navbar h2{
        float: left;
        text-transform: uppercase;
    }

    .header .navbar h2 span{
        color: #2ecc71;
    }

    .header .navbar ul{
        list-style: none;
        padding-left: 0;
        overflow: hidden;
        float: right;
    }

    .header .navbar ul li{
        float: left;
        padding: 10px;
    }

    .header .navbar ul li a{
        color: #fff;
        text-decoration: none;
    }

    .header .navbar ul li.active a,
    .header .navbar ul li a:hover{
        color: #30b576;
    }
    /*End Navbar*/
/*End Header*/




/*Start Features*/

    .Features{
        overflow: hidden;
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .Features .feat{
        float: left;
        width: 33.33333%;
        height: 150px;
    }

    .Features .feat h2{
        text-transform: uppercase;
        color: #555;
    }

    .Features .feat p{
        line-height: 1.7;
        color: #888;
    }

/*End Features*/


/*Start About Me*/

.about-me{
    background-color: #f2f2f2;
    overflow: hidden;
}

.about-me .image{
    float: left;
    width: 40%;
}

.about-me .image img{
    width: 100%;
    height: 100%;
}

.about-me .info{
    float: left;
    width: 60%;
    box-sizing: border-box;
}

.about-me .info h2{
    text-transform: uppercase;
    margin: 40px 0px 20px 40px;
    color: #555;
}

.about-me .info > p{
    margin: 0px 0px 10px 40px;
}

.about-me .info > p:last-of-type{
    margin-top: 30px;
}

.about-me .info p{
    line-height: 1.7;
    color: #666;
}

.about-me .info .hobbies{
    overflow: hidden;
    margin: 20px 0px 0px 40px;
}

.about-me .info .hobbies .content{
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
}

.about-me .info .hobbies .content h3{
    color: #555;
}

.about-me .info .hobbies .content .icon{
    float: left;
    width: 12%;
}

.about-me .info .hobbies .content .icon img{
    max-width: 100%;
    margin: 30px 10px 0px 0px;
}

.about-me .info .hobbies .content .text{
    float: left;
    width: 88%;
}

/*End About Me*/


/*Start My Skills*/

    .my-skills{
        padding-top: 30px;
        padding-bottom: 50px;
        overflow: hidden;
    }

    .my-skills .skills,
    .my-skills .progress{
        width: 50%;
        float: left;
    }

    .my-skills .skills h2{
        margin: 25px 0px 20px 40px;
        color: #555;
    }

    .my-skills .skills p{
        margin: 0px 0px 10px 40px;
        line-height: 1.6;
        color: #666;
    }

    .my-skills .skills p:last-of-type{
        margin-top: 25px;
    }

    .my-skills .skills button{
        margin-top: 20px;
        margin-left: 40px;
    }

    .my-skills .progress .technique{
        margin-left: 50px;
    }

    .my-skills .progress .technique h3{
        color: #555;
    }

    .my-skills .progress .technique div{
        background-color: #f2f2f2;
        height: 25px;
    }

    .my-skills .progress .technique div span{
        background-color: #2dcc70;
        height: 25px;
        display: block;
        line-height: 25px;
        text-align: right;
        color: #fff;
        font-weight: bold;
    }
/*End My Skills*/

/*Start Resume*/

.resume{
    background-color: #f2f2f2;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 50px;
}

.resume h2{
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
}

.resume p{
    line-height: 1.7;
    color: #666;
    padding: 0px 40px;
}

.resume button{
    margin-top: 15px;
}
        
/*End Resume*/

/*Start My Education*/

    .my-education{
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: hidden;
    }

    .my-education .main{
        width: 50%;
        margin-right: 5%;
        float: left;
    }

    .my-education .main h2{
        margin: 25px 0px 20px 40px;
        color: #555;
    }

    .my-education .main p{
        margin: 0px 0px 10px 40px;
        line-height: 1.6;
        color: #666;
    }

    .my-education .main p:last-of-type{
        margin-top: 25px;
    }

    .my-education .exp{
        width: 45%;
        float: left;
    }

    .my-education .exp h3{
        margin-top: 80px;
        margin-bottom: 10px;
    }

    .my-education .exp span{
        display: block;
        margin-bottom: 10px;
    }

    .my-education .exp span:first-of-type{
        color: #999;
    }

    .my-education .exp span:last-of-type{
        background-color: #2dcc70;
        color: #fff;
        display: inline-block;
        padding: 4px 10px;
    }

    .my-education .exp hr{
        margin: 20px 0px;
        background-color: #999;
        height: 1px;
        border: 0;
    }

    .my-education .exp p{
        line-height: 1.7;
        color: #777;
    }
/*End My Education*/

/*Start testimonials*/

.testimonials{
    background-color: #f2f2f2;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 50px;
}

.testimonials q{
    line-height: 1.8;
    color: #888;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.testimonials h3{
    color: #777;
    margin-bottom: 30px;
}

.testimonials ul{
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

.testimonials ul li{
    width: 10px;
    height: 10px;
    border: 2px solid #2dcc70;
    display: inline-block;
    cursor: progress;
}

.testimonials ul li:hover,
.testimonials ul li.active{
    background-color: #2dcc70;
}
        
/*End testimonials*/


/*Start Portofolio*/

    .portofolio{
        padding-bottom: 70px;
        padding-top: 50px;
        text-align: center;
    }

    .portofolio h2{
        color: #777;
    }

    .portofolio p{
        color: #666;
        line-height: 1.7;
        margin-bottom: 30px;
    }

    .portofolio h2{
        text-transform: uppercase;
    }

    .portofolio .my-work{
        overflow: hidden;
    }

    .portofolio .my-work > div{
        float: left;
        width: 33.333333%;
        margin-bottom: 10px;
    }

    .portofolio .my-work > div img{
        /*width: 90%;
        margin: 20px;
            or*/
        box-sizing: border-box;
        padding: 3px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 10px 10px 10px #ccc;
    }

/*End Portofolio*/

/*Start Contact Me*/

    .contact-me{
        background-color: #252f31;
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .contact-me .info{
        width: 50%;
        margin-right: 5%;
        float: left;
    }

    .contact-me h2{
        text-transform: uppercase;
        color: #fff;
        margin-left: 40px;
    }

    .contact-me p{
        color: #6a6e71;
        margin-left: 40px;
        line-height: 1.7;
    }

    .contact-me address{
        margin-left: 40px;
        color: #6a6e71;
        line-height: 1.7;
    }

    .contact-me p strong{
        color: #d1d6da;
    }

    .contact-me .form{
        width: 45%;
        float: left;
    }

    .contact-me .form label{
        display: block;
        color: #d1d6da;
        margin: 10px 0px;
    }

    .contact-me .form input[type="text"]{
        background-color: #4b5557;
        color: #fff;
        padding: 10px;
        border: 0;
        width: 80%;
        margin-bottom: 10px;
    }

    .contact-me .form textarea{
        background-color: #4b5557;
        color: #fff;
        padding: 10px;
        border: 0;
        width: 80%;
        margin-bottom: 10px;
        height: 250px;
    }

    .contact-me .form input[type="submit"]{
        background-color: #191e20;
        color: #fff;
        padding: 10px 20px;
        border: 0;
        margin-top: 10px;
    }

/*End Contact Me*/

/*Start Footer*/

.footer{
    background-color: #191e22;
    color: #6a6e71;
    padding: 20px 0;
    text-align: center;
}

.footer ul{
    list-style: none;
    padding-left: 0px;
    margin: 10px 0px 0px;
}

.footer ul li{
    display: inline-block;
}

.footer ul li img{
    height: 24px;
    width: 24px;
}

/*End Footer*/

/*Start my framework*/

.me-button{
    background: none;
    border: 3px solid #2dcc70;
    padding: 10px 30px;
    color: #2dcc70;
}

/*End my framework*/