:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --likeWhite-color: #eff7fa;
}

body{
    font-family: "Merriweather", serif;
}

.main-btn{
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}

.main-btn:hover{
    background-color: var(--red-color);
    color: var(--yellow-color);
}

/* Start navbar */

.navbar{
    background-color: var(--dark-color);
}

.navbar .navbar-brand img{
    height: 100px;
    width: 100px;
}

.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded = "true"]{
    border-color: var(--green-color);
}

.navbar .navbar-nav .nav-link{
    color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--green-color);
}

.navbar .search{
    border-left: 1px solid var(--green-color);
}

.navbar .search svg{
    color: var(--green-color);
    font-size: 25px;
}

/* End navbar */

/* Start landing */

.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}

/* End landing */

/* Start our features */

.features .main-titel svg{
    width: 50px;
    height: 50px;
}

.main-titel::after{
    content: '';
    width: 120px;
    height: 3px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.features .feat .icon-holder{
    height: 200px;
}

.features .feat .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}

.features .feat .icon-holder .number{
    font-size: 12rem;
    color: var(--likeWhite-color);
}

.features .feat .icon-holder .icon{
    color: var(--green-color);
}

.features .feat h4{
    color: var(--yellow-color);
}

/* End our features */

/* Start our work */

.our-works{
    background-color: var(--likeWhite-color);
}

.our-works .main-titel svg{
    width: 50px;
    height: 50px;
}

.our-works ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.our-works ul .active{
    background-color: var(--red-color);
    color: var(--yellow-color);
}

.our-works ul li:not(.active):hover{
    color: var(--red-color);
}

.our-works .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-works .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}

.our-works .box:hover:before{
    transform: translateX(0);
}

.our-works .box img{
    width: 500px;
    height: 200px;
    border: 1px solid var(--dark-color);
}

/* End our work */

/* Start stuff */

.stuff svg{
    width: 50px;
    height: 50px;
}

.stuff .description{
    max-width: 500px;
}

.stuff .image img{
    width: 800px;
    height: 450px;
}

/* End stuff */

/* Start our team */

.our-team{
    background-color: var(--likeWhite-color);
}

.our-team h2{
    color: var(--yellow-color);
}

.our-team .box h4{
    background-color: var(--green-color);
}

.our-team .box img{
    width: 425px;
    height: 225px;
}

/* End our team */

/* Start project */

.project{
    background-color: var(--dark-color);
}

/* End project */

/* Start blog */

.blog svg{
    width: 50px;
    height: 50px;
}

.card img{
    width: 400px;
    height: 200px;
}

/* End blog */

/* Start subscribe */

.subscribe{
    background-color: var(--yellow-color);
}

.subscribe input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
}

.subscribe input[type="text"]:focus{
    outline: none;
}

.subscribe ::placeholder{
    color: white;
}

.subscribe input[type="submit"]{
    background-color: var(--dark-color);
    color: var(--yellow-color);
}

/* End subscribe */

/* Start footer */

.footer{
    background-color: var(--dark-color);
}

.footer .info img{
    height: 100px;
    width: 100px;
}

.footer .copyright > span{
    color: var(--green-color);
}

.footer .copyright div span{
    color: var(--yellow-color);
}

.footer .contact ul svg{
    width: 20px;
    height: 20px;
}

.footer .facebook{
    background-color: #1877f2;
}

.footer .twitter{
    background-color: #1da1f2;
}

.footer .google-plus{
    background-color: #dd4b39;
}

.footer .share-nodes{
    background-color: #0077b5;
}

/* End footer */