body{
    font-family: "Merriweather", serif;
    /*background: ;*/
}

.container{
    border-right: 10px solid #595959;
    border-left: 10px solid #595959;
    padding: 0;
    z-index: 99999;
}

:root{
    --orange-color: #c12e13;
    --green-color: #00FF00;
}

/* Start navbar */

.navbar{
    background-color: #121212;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    border-top: 10px solid #595959;
}

.navbar h4{
    color: #c12e13;
}

.navbar ul li{
    display: inline;
    padding-right: 50px;
}

.navbar ul li a{
    color: #898989;
}

.navbar ul li a:hover{
    color: #f55408;
}



/* End navbar */

/* Start Hello */

.text-int{
    background-color: #ddddc3;
    padding: 10px;
}

.text-int p{
    color: #121212;
}

.text-int h1{
    margin-bottom: 0;
}

/* End Hello */

/* Start image */

.text{
    background-color: #121212;
    float: right;
    min-height: 557px;
}

.text h2{
    color: var(--green-color);
    text-align: center;
    margin: 50px;
}

.text h2 span{
    color: var(--orange-color);
}

.image{
    background-color: #121212;
}

.image img{
    width: 100%;
    height: 100%;
}

/* End image */

/* Start my work */

.carousel{
    text-align: center;
}

.carousel .carousel-item a img{
    width: 500px;
    height: 500px;
    text-align: center;
}

.carousel1 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.icon svg{
    color: #121212;
    font-size: 50px;
    margin-top: 50%;
    position: relative;
}

/* End my work */